.dialog {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    background-color: papayawhip;
    border-radius: 10px;
    justify-self: start;

}

.nonActive {
    color: #222222;
    text-decoration: none;
}

.nonActive:hover {
    color: #888888;
}

.active, .active:hover {
    color: #ff8b51;
}
