.container {
    background-color: #ffd199;
    display: grid;
    border-radius: 10px;
    padding: 10px;
    grid-row-gap: 10px;
    align-content: start;
}

.paginator {
    display: grid;
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: 1fr;
    justify-content: center;
    grid-column-gap: 5px;
}

.paginatorItems, .break {
    display: grid;
    height: 40px;
    align-content: center;
    justify-content: center;
    font-size: 23px;
    background-color: #ffefd5;
    border-radius: 10px;
    font-weight: bold;
}

.next, .previous {
    display: none;
}

.next:hover, .previous:hover,
.paginatorItems:hover, .break:hover {
    cursor: pointer;
    color: #ff8b51;
}

.paginatorItems, .break {
    width: 40px;
}

.paginatorItemsActive {
    background-color: #ff8b51;
    color: #ffefd5;
}

.paginatorItemsActive:hover {
    color: #ffefd5;
}
/*

.pagesSelector {
    height: 30px;
    text-align: center;
}

.pagesSelector span {
    margin-right: 12px;
    font-size: 22px;
}

.pagesSelector span:hover {
    cursor: pointer;
}


.selectedPage {
    font-weight: bold;
}
*/

.user {
    background-color: #ffefd5;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 2fr 15fr 4fr;
    grid-column-gap: 20px;
    padding: 8px;
}

.avatar {
    display: grid;
    grid-row-gap: 5px;
}

.avatar div {
    display: grid;
}

.img {
    display: block;
    height: 50px;
    border-radius: 10px;
    justify-self: center;
}

.followButton {
    border-radius: 10px;
    background-color: #ffd199;
    font-weight: bold;
}

.info {
    display: grid;
}

.name {
    font-weight: bold;
    font-size: 22px;
}

.location {
    display: grid;
}

.location div {
    display: grid;
    align-content: center;
    justify-content: start;
    font-weight: bold;
}

.buttonContainer {
    display: grid;
    align-content: start;
    justify-content: center;
}

.moreButton {
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff8b51;
    font-weight: bold;
    font-size: 22px;
}