.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 10px;
    grid-column-gap: 20px;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.description {
    border-radius: 10px;
    background-color: #ffefd5;
    padding: 5px;
    display: grid;
    align-content: start;
}

.fullName {
    font-size: 24px;
    color: #222222;
    font-weight: bold;
}

@media (max-width: 359px) {
    .container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.statusContainer {
    display: grid;
    justify-self: start;
    font-size: 18px;
}