.header {
    grid-area: header;
    background-color: #ff8b51;
    display: grid;
    grid-template-columns: 80px 3fr 1fr;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.header img {
    height: 60px;
}
.header h1 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: #222222;
}

.login {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
}

.loginLink {
    color: #ffefd5;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: grid;
}

.loginLink:hover {
    color: #ffd199;
}

.logout {
    margin-left: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: #ffd199;
    color: #222222;
    margin-right: 5px;
}

.logout:hover {
    color: #888888;
}