.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.dialogs {
    padding: 15px;
    border-right: 2px solid aqua;
}

.messagesContainer {
    display: grid;
    align-content: space-between;
    grid-template-rows: 1fr 130px;
    padding: 25px;
}

.messages {
    display: grid;
    align-content: end;
    padding: 20px 0;
}