.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 3px;

}

.dialogs {
    padding: 15px;
    background-color: #ffd199;
    border-radius: 10px;
    display: grid;
    grid-row-gap: 5px;
    align-content: start;
}

.messagesContainer {
    display: grid;
    align-content: space-between;
    grid-template-rows: 1fr 130px;
    padding: 25px;
    background-color: #ffd199;
    border-radius: 10px;
}

.messages {
    display: grid;
    align-content: end;
    padding: 20px 0;
}